@media(max-width: 1024px){
    .container{
        width: 925px;
    }
}
@media(max-width: 925px){
    .container{
        width: 768px;
    }
    .header .container .logo img{
        width: 230px;
    }
}
@media(max-width: 660px){
    .header .container .menu-burger{
        left: 98%;
    }
}
@media(max-width: 768px){
    .container{
        width: 680px;
    }
}
@media(max-width: 768px){
    .container{
        width: 687px;
    }
    .header .container ul {
        padding-top: 80px;
        left: 0;
        top: 0;
        position: absolute;
        z-index: 5;
        flex-direction: column;
        background: #e1e1e1;
        width: 260px;
        height: 106vh;
        transition: 0.5s;
        transform: translateX(-100%);
        
    }
    .header .container ul.active{
        transform: translateX(0);
    }
    .header .container .menu-burger{
        opacity: 1;
        left: 90%;
    }
}
@media(max-width: 425px){
    .container{
        width: 362px;
    }
    .main .container{
        flex-direction: column;
    }
    .main .container .slider{
        width: 365px;
    }
    .header .container .menu-burger {
        left: 85%;
    }
    .main .container .block{
        width: 365px;
        text-align: center;
    }

}
@media(max-width: 375px){
    .header .container .menu-burger {
        left: 87%;
    }
}
@media(max-width: 320px){
    .header .container .menu-burger {
        left: 101%;
    }
}